services:
  database:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
    networks:
      - backend_database
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  migrate:
    build:
      context: .
      dockerfile: docker/Dockerfile.migrate
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - backend_database
    depends_on:
      database:
        condition: service_healthy
    restart: "no"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - GCP_PROJECT_ID=${GCP_PROJECT_ID}
      - GCP_CLIENT_EMAIL=${GCP_CLIENT_EMAIL}
      - GCP_PRIVATE_KEY=${GCP_PRIVATE_KEY}
      - GCS_BUCKET_NAME=${GCS_BUCKET_NAME}
      - NEXTAUTH_SECRET={NEXTAUTH_SECRET}
    networks:
      - frontend_backend
      - backend_database
    depends_on:
      migrate:
        condition: service_completed_successfully
      database:
        condition: service_healthy
    restart: always

  proxy:
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      web:
        condition: service_started
    networks:
      - frontend_backend
    restart: always

volumes:
  pg_data:
    name: irfancarsandtours_postgres_db
    driver: local

networks:
  frontend_backend:
    driver: bridge

  backend_database:
    driver: bridge